<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Retrieve these values using the "Keys" blade your Redis Cache account in the Azure Mngt Portal (portal.azure.com) -->
    <add key="redisCacheName" value="mmscheduler-cache.redis.cache.windows.net"/>
    <add key="redisCachePassword" value="BElv1vx+SGFsWwimRtRpVOExFsbgNIb4n1j8GYFkPnc="/>
  </appSettings>
</configuration>
